.container{
    height: 93vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
    gap: 4rem;
}
.inp{
    /* border: 1px dotted white; */
    padding: 1vh 3vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 50%;
    border-bottom: 1px solid white;
}

.gap{
}